apiVersion: apps/v1
kind: Deployment
metadata:
  name: mxclone
  labels:
    app: mxclone
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mxclone
  template:
    metadata:
      labels:
        app: mxclone
    spec:
      imagePullSecrets:
        - name: regcred 
      containers:
        - name: mxclone
          image: ghcr.io/anthony-bible/mxclone:latest # Update with your registry/image if needed
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          command: ["./mxclone", "api"]
          env:
            - name: UI_DIST_PATH
              value: /app/ui/dist
          resources:
            limits:
              memory: "256Mi"
              cpu: "500m"
          securityContext:
            capabilities:
              add:
                - CAP_NET_ADMIN